DATABASE_FILENAME="sqlite.db"
DATABASE_FOLDER="./data"
MAP_UPLOAD_FOLDER="./maps"
PORT=3111
BOOTSTRAP_UNAVAILABLE_RETRY_AFTER_S=60
PUBLIC_ENV__LOCALE=en-GB
VITE_BASE_PATH=/admin-panel
FASTIFY_HOST=127.0.0.1